{% extends 'base.html' %}

{% block title %}
    Register Your Hostel
{% endblock title %}

{% block content %}
<form action="" autocapitalize="false" method="post">
    <div class="container mt-3" style="margin-top: 5.9rem !important;">
        <h2 class="text-center">
            Fill below required Information for your Hostel registration
        </h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="username" class="form-label">Your full name</label>
                    <input type="text" name="name" class="form-control" id="username" placeholder="Name" required>
                </div>
                <div class="mb-3">
                    <label for="nic" class="form-label">Your CNIC</label>
                    <input type="text" name="nic" class="form-control" id="nic" placeholder="CNIC" required>
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Active Mobile Number</label>
                    <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Number" required>
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">Image of Hostel</label>
                    <input type="file" name="imagehostel" class="form-control" id="image" placeholder="Location" required>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="hostellocation" class="form-label">Location of Hostel</label>
                    <input type="text" name="hlocation" class="form-control" id="hostellocation" placeholder="Location" required>
                  </div>
                  <div class="mb-3">
                    <label for="noOfVacancies" class="form-label">Number Of vacancy available</label>
                    <input type="number" name="novacancies" class="form-control" id="noOfVacancies" placeholder="Vacancies" required>
                  </div>
                  <div class="mb-3">
                    <label for="rent" class="form-label">Per person rent</label>
                    <input type="text" name="rent" class="form-control" id="rent" placeholder="rent" required>
                  </div>
                  <div class="mb-3">
                    <label for="comment" class="form-label">Any message</label>
                    <textarea name="message"  class="form-control" id="comment" required placeholder="Type message"></textarea>
                  </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark text-light mb-3">Book Vacancy</button>

        </div>
    </div>
</form>
{% endblock content %}